# ---- Gradle ----
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

# ---- Java ----
*.class
hs_err_pid*
replay_pid*

# ---- IntelliJ IDEA ----
.idea/
*.iml
*.iws
*.ipr
out/

# ---- Eclipse ----
.settings/
.classpath
.project
.checkstyle
bin/

# ---- VS Code ----
.vscode/

# ---- NetBeans ----
nbproject/
nbbuild/
nbdist/
.nb-gradle/

# ---- OS ----
.DS_Store
Thumbs.db
desktop.ini

# ---- Misc ----
*.log
*.ctxt
temp/
tmp/
